{% extends "timepiece/time-sheet/base.html" %}
{% load url from future %}
{% load timepiece_tags %}

{% block title %}Dashboard{% endblock title %}

{% block bodyid %}dashboard{% endblock bodyid %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block content %}
    {% if perms.timepiece.can_clock_in %}
        <h2>{{ week_start|date:'F j' }} to {{ week_end|date:'F j' }}</h2>

        <div class="row-fluid">
            <div class="span12" id="active-entry">

                <div id="active-buttons">
                    <div class="hidden-phone pull-left">
                        <a class="btn btn-primary" href="{% url 'timepiece-add' %}" title="Add Entry">
                            <i class="icon-white icon-plus"></i>
                        </a>
                    </div>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>

        <ul class="nav nav-tabs">
            <li{% if active_tab == 'progress' %} class="active"{% endif %}>
                <a class="tab-link" href="progress">Progress</a>
            </li>
            <li{% if active_tab == 'all-entries' %} class="active"{% endif %}>
                <a class="tab-link" href="all-entries">All Entries</a>
            </li>
            <li{% if active_tab == 'online-users' %} class="active"{% endif %}>
                <a class="tab-link" href="online-users">Online Users</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane{% if active_tab == 'progress' %} active{% endif %}" id="progress">
                <div id="overall-progress">
                    <div id="overall-label">Overall</div>
                    <div id="overall-bar"
                        data-worked="{{ total_worked }}"
                        data-assigned="{{ total_assigned }}">
                    </div>
                </div>
                <script>
                    // The largest number of hours worked or assigned on any project.
                    var max_hours = {% get_max_hours %};
                </script>
                <div id="project-progress">
                    {% if project_progress %}
                        <table class="table table-bordered table-hover">
                            <thead>
                                <th>Project</th>
                                <th>Hours Assigned</th>
                                <th>Hours Worked</th>
                                <th class="hidden-phone progress-col">Progress</th>
                            </thead>
                            <tbody>
                                {% for data in project_progress %}
                                    <tr{% if active_entry.project.pk == data.project.pk %} id="active-project"{% endif %}>
                                        <td><a href="{% url 'timepiece-clock-in' %}?project={{ data.project.pk }}">{{ data.project }}</a></td>
                                        <td class="nowrap">{{ data.assigned|convert_hours_to_seconds|humanize_seconds:"%H:%M" }}</td>
                                        <td class="nowrap">{{ data.worked|convert_hours_to_seconds|humanize_seconds:"%H:%M" }}</td>
                                        <td class="hidden-phone progress-col project-bar"
                                            data-worked = "{{ data.worked }}"
                                            data-assigned = "{{ data.assigned }}">
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No entries or assignments exist for this week.</p>
                    {% endif %}
                </div>
            </div>
            <script src="{{ STATIC_URL }}timepiece/js/dashboard.js"></script>

            <div class="tab-pane{% if active_tab == 'all-entries' %} active{% endif %}" id="all-entries">
                {% if week_entries %}
                    {% regroup week_entries by start_time|date:'l, F j' as daily_entries %}
                    {% for day in daily_entries %}
                        <h4>{{ day.grouper }}</h4>
                        <table class="table table-striped table-bordered" style="margin-top:10px;">
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th class="hidden-phone">Activity</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th class="hidden-phone">Pause Time</th>
                                    <th>Total Time</th>
                                    <th class="hidden-phone">Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entry in day.list %}
                                    <tr rel="tooltip" title="{{ entry.comments|escape }}">
                                        <td>
                                            {% if entry.status == "unverified" %}
                                                {% url 'dashboard' active_tab='all-entries' as next %}
                                                <a href="{% url 'timepiece-update' entry.id %}?next={{ next|urlencode }}"><i class="icon-pencil"></i></a>
                                                <a href="{% url 'timepiece-delete' entry.id %}?next={{ next|urlencode }}"><i class="icon-remove"></i></a>
                                            {% else %}
                                                <span class="label label-success"><i class="icon-ok icon-white"></i></span>
                                            {% endif %}
                                            {{ entry.project }}
                                        </td>
                                        <td class="hidden-phone">{{ entry.activity.name }}</td>
                                        <td class="nowrap">{{ entry.start_time|date:"h:i A" }}</td>
                                        <td class="nowrap">
                                            {% if entry.end_time %}
                                                {{ entry.end_time|date:"h:i A" }}
                                            {% else %}
                                                current
                                            {% endif %}
                                        </td>
                                        <td class="hidden-phone nowrap">
                                            {% with entry.get_paused_seconds as pause_time %}
                                                {% if pause_time %}
                                                    {{ pause_time|humanize_seconds }}
                                                {% endif %}
                                            {% endwith %}
                                        </td>
                                        <td class="nowrap">{{ entry.get_total_seconds|humanize_seconds|slice:":-3" }}</td>
                                        <td class="hidden-phone">{{ entry.comments|slice:':50' }}</td>
                                    </tr>
                                {% endfor %}
                                {% sum_hours day.list 'daily_total' %}
                                <tr>
                                    <th class="hidden-phone" colspan="2"></th>
                                    <th colspan="3" style="text-align: right;">Total:</th>
                                    <td>{{ daily_total|humanize_seconds|slice:":-3" }}</td>
                                    <td class="hidden-phone"></td>
                                </tr>
                            </tbody>
                        </table>
                    {% endfor %}
                {% else %}
                    <p>No entries exist for this week.</p>
                {% endif %}
            </div>

            <div class="tab-pane{% if active_tab == 'online-users' %} active{% endif %}" id="online-users">
                {% if others_active_entries %}
                    <table class="table table-striped table-bordered">
                        <thead>
                            <th>Name</th>
                            <th>Project</th>
                            <th class="hidden-phone">Since</th>
                        </thead>
                        <tbody>
                            {% for entry in others_active_entries %}
                                <tr>
                                    <td><i class="icon-user"></i> {{ entry.user.first_name }} {{ entry.user.last_name }}</td>
                                    <td><span class="hidden-phone">{{ entry.activity.name }} for </span>{{ entry.project }}</td>
                                    <td class="hidden-phone nowrap">
                                        {{ entry.start_time|date:"g:i A" }}
                                        {% ifnotequal entry.start_time.date today %}
                                            {% if entry.start_time.date < week_start or entry.start_time.date > week_end %}
                                                on {{ entry.start_time|date:"N j" }}
                                            {% else %}
                                                on {{ entry.start_time|date:"l" }}
                                            {% endif %}
                                        {% endifnotequal %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Currently there are no other users with an active entry.</p>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <script>
        // JavaScript to create permanent links to the dashboard tabs.
        // When the user clicks on another dashboard tab, the browser location
        // will change without reloading the page.

        var basePath = "{% url 'dashboard' %}",
            tabIds = new Array('progress', 'all-entries', 'online-users')

        function changeActiveTab(to) {
            // Change active tab.
            $('.nav-tabs li.active').removeClass('active');
            $('.nav-tabs a[href=' + to + ']').parent().addClass('active');

            // Change active tab content.
            $('.tab-pane.active').removeClass('active');
            $('.tab-pane#' + to).addClass('active');
        };

        // Called when the user moves through browser history.
        window.onpopstate = function(event) {
            var path = window.location.pathname,
                to = 'progress';  // Default
            if (path.indexOf(basePath) > -1) {
                var tail = path.substring(basePath.length),
                    parts = tail.split('/');
                if (parts.length <= 2 && tabIds.indexOf(parts[0]) > -1) {
                    to = parts[0];
                }
            }
            changeActiveTab(to);
        };

        //  Called when the user clicks on a tab link.
        $('.tab-link').click(function(event) {
            event.preventDefault();
            self = $(this)
            if (!self.parent().hasClass('active')) {
                to = self.attr('href');
                history.pushState({}, '', basePath + to + '/');
                changeActiveTab(to);
            }
        });
    </script>
{% endblock content %}
